:root {
  scroll-behavior: smooth;
  --font-size-regular: 16px;
  --font-size-small: 14px;
  --font-size: var(--font-size-regular);
  --border-radius-sections: 10px;

  --container-width: 1200px;
}


@media (max-width: 1080px) {
  :root {
    --font-size: var(--font-size-small);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: unset;
  font-size: var(--font-size);
  background-color: #19191E;
  color: #FFF8F0;
  font-family: "Instrument Sans", sans-serif;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.h-divider {
  content: "";
  width: 100%;
  height: 1px;
  margin: 5px 0;
  background-color: #2b1508;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

ul.unstyled {
  list-style-type: none;
  padding: unset;
  margin: unset;
}

.display-none {
  display: none;
}

img {
  max-width: 100%;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  color: black;
  /* border-top-left-radius: 0;
  border-top-right-radius: 0; */

  & .nav-list {
    & li {
      margin: unset;
      margin-right: 0.5rem;
      display: inline;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }

  & a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header-content-background {
  position: relative;
  background-color: #FFF8F0;
  color: #2B1508;
  border-radius: var(--border-radius-sections);
  z-index: 101;
}

.header-content {
  display: block;
  text-transform: uppercase;
  padding: 1rem 0.75rem;
  font-weight: 600;
  font-size: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header-subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 500;

  & #m-brand {
    display: inline-block;
    height: 1.75em;
  }
}

.header-right {
  font-size: 0.8rem;
}

#sub-header {
  margin-top: calc(-1 * var(--border-radius-sections));
  background-color: #5F341B;
  color: #EFE2D4;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-sections);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-weight: 600;
  transition: transform 0.25s linear;
  transform: initial;

  & .text {
    padding-top: var(--border-radius-sections);
  }

  &.hidden {
    transform: translateY(-220%);
  }
}

.v-div {
  display: inline-block;
  content: "";
  height: 15px;
  width: 2px;
  background: #5F341B;
  transform: rotate(45deg);
  margin: 0 0.5rem;
}

/* FOOTER */
footer {
  z-index: 10;
  display: block;
  position: relative;
}

.section {
  padding: 1rem min(1.5rem, 3vw);

  & h2 {
    padding: 0 0.75rem;
  }
}

#section-about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: min(2rem, 3vw);
  align-items: center;
  justify-items: center;
}

@media (max-width: 1080px) {
  #section-about-content {
    grid-template-columns: 1fr;
  }
}

.contact-form {
  z-index: 11;
  position: relative;
  background-color: #FFF8F0;
  color: #2B1508;
  padding: 1rem;
  border-radius: var(--border-radius-sections);

  & form {
    margin: auto;
    width: fit-content;
  }
}

.input-block {
  display: flex;
  margin-bottom: 0.8rem;
  max-width: 800px;

  & label {
    display: inline-block;
    width: max(10vw, 70px);
  }

  & input,
  & textarea {
    width: min(70vw, 400px);
  }
}

.input-block:last-child {
  margin-bottom: 0;
}

.copyright {
  position: relative;
  margin-top: calc(-1 * var(--border-radius-sections));
  background-color: #5F341B;
  color: #EFE2D4;
  padding: 0.5rem 0.75rem;
  font-weight: 600;
  font-size: 0.8rem;

  & .text {
    text-align: right;
    padding-top: var(--border-radius-sections);
  }
}

.form-status {
  & .form-message {
    padding: 1rem;
    display: none;
    text-align: right;
  }

  &.success .form-message.success {
    display: initial;
  }

  &.error .form-message.error {
    display: initial;
  }
}

.color-success {
  color: #307e30;
}

.color-error {
  color: #ba3f3f;
}

/* MAIN */
main {
  padding: 1.5rem min(1.5rem, 3vw);
  min-height: 30vh;
}

/* PAINTING */
.card {
  --img-width: max(min(225px, 90vw), min(60vw, 450px));
  width: fit-content;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1rem 0;
  /* transform: translateX(30px); */
}

.card-img-container {
  position: relative;
  background-color: #FAF8EB;
  padding: 0.75rem;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
}

.card-img {
  display: block;
  width: calc(var(--scale-factor, 1) * var(--img-width));

  /* border: 1px inset #2F2E32; */
}

.card-img-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.card-img-wrapper::after {
  box-shadow: inset 0 0 1px 0 #2F2E32;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.card-circle-img {
  position: absolute;
  transform: translate(-85%, -50%);
  height: calc(0.6 * var(--img-width));
  left: 0;
  top: 50%;
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-circle-img {
  transform: translate(-100%, -50%);
}

.card-text {
  margin-left: 1rem;
  margin-top: 0.5rem;
  max-width: var(--img-width);
}

.card-title {
  font-size: 1.2rem;
}

.card-description {
  margin-top: 0.15rem;
  font-size: 1rem;
  font-style: italic;
}

@media (max-width: 1080px) {
  .card-title {
    font-size: 1rem;
  }

  .card-description {
    font-size: 0.8rem;
  }
}

/* BUTTON */

button {
  all: unset;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  background-color: #5F341B;
  color: #EFE2D4;
  border: 1px solid #EFE2D4;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    padding: 0.35rem 0.6rem;
  }
}