<div class="card">
  <div class="card-img-container">
    <div class="card-img-wrapper">
      {{ $image := .Resources.Get .Params.Image }}
      {{ $imageResized := $image.Resize "900x" }}
      {{ $scaleFactor := 1 }}
      {{ if .Params.scaleFactor }}
      {{ $scaleFactor = .Params.scaleFactor }}
      {{ end }}
      <img class="card-img" src="{{ $imageResized.Permalink}}" data-original="{{ $image.Permalink }}"
        alt="{{ .Params.Title }}, {{ .Params.Support }}, {{ .Params.Dimensions }}"
        style="--scale-factor: {{ $scaleFactor }}">
    </div>
    {{ with $circleImg := .Resources.Get .Params.Circle }}
    {{ $processedCircleImg := $circleImg.Process "crop 705x1440"}}
    <img class="card-circle-img" src="{{ $processedCircleImg.Permalink}}">
    {{ end }}
  </div>
  <div class="card-text">
    <div class="card-title">
      {{ .Params.Title }}
    </div>
    <div class="card-description">
      {{ .Params.PaintType}}, {{ .Params.Support }}, {{ .Params.Dimensions }}
    </div>
  </div>

</div>