<footer>
  <div class="section-about section">
    <div class="container">
      <h2>À propos</h2>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate debitis, odio error modi aperiam, fugiat
        voluptatibus qui itaque voluptates velit culpa dolorum dolorem accusamus quibusdam. Deserunt sapiente voluptate
        eius corrupti.
      </div>
    </div>
  </div>
  <div class="section-contact section">
    <div class="container">
      <h2>Si le coeur vous en dit, écrivez-moi.</h2>
    </div>
  </div>
  <div id="contact-form" class="contact-form">
    <div class="container">
      <form>
        <h3>Coordonnées</h3>
        <div class="input-block">
          <label for="name">Nom :</label>
          <input id="name" type="name" required />
        </div>
        <div class="input-block">
          <label for="email">E-mail :</label>
          <input id="email" type="email" required />
        </div>
        <div class="input-block">
          <label for="message">Message :</label>
          <textarea id="message" rows="7" required></textarea>
        </div>

        <div class="input-block" style="justify-content: end;">
          <button type="submit">Envoyer</button>
        </div>

      </form>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="text">
        Tous droits réservés — Crédits photo : Marjorie Aucaigne
      </div>
    </div>
  </div>
</footer>