<footer>
  <div class="section-about section">
    <div class="container">
      <h2>À propos</h2>
      <div id="section-about-content">
        {{ $image := resources.Get "img/contact-picture.png" }}
        {{ $image = $image.Resize "800x" }}
        <img src="{{ $image.Permalink }}" alt="{{ .Site.Title }}"
          style="border-radius: 10px; max-width: min(100%, 600px);" />
        <div style="margin: 0 1rem; max-width: 600px;">
          <p>
            J’utilise la peinture à l’huile pour m’exprimer dans des oeuvres figuratives, en particulier à travers
            l’interprétation artistique de paysages.
          </p>
          <p>
            Je travaille principalement à partir de photographies : au milieu des montagnes et d’autres espaces vastes,
            je
            sors, je contemple et je photographie la nature environnante qui devient mon sujet central.
          </p>
          <p>
            Dans la réalisation, j’applique plusieurs couches de matières en explorant des couleurs vives ainsi que des
            contrastes marqués.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-contact section">
    <div class="container">
      <h2>Si le coeur vous en dit, écrivez-moi.</h2>
    </div>
  </div>
  <div class="contact-form">
    <div class="container">
      <form id="contact-form" action="https://formspree.io/f/mgvnpyqr" method="POST">
        <h3>Coordonnées</h3>
        <div class="input-block">
          <label for="name">Nom :</label>
          <input name="name" type="name" required />
        </div>
        <div class="input-block">
          <label for="email">E-mail :</label>
          <input name="email" type="email" required />
        </div>
        <div class="input-block">
          <label for="message">Message :</label>
          <textarea name="message" rows="7" required></textarea>
        </div>

        <div class="input-block" style="justify-content: end;">
          <button type="submit">Envoyer</button>
        </div>

        <div class="form-status">
          <div class="form-message success">
            <i class="fa-solid fa-circle-check color-success"></i>
            <span>Merci pour votre message!</span>
          </div>
          <div class="form-message error">
            <i class="fa-solid fa-circle-check color-error"></i>
            <span>Oops! Il y a eu un problème lors de l'envoi du formulaire.</span>
          </div>
        </div>

      </form>
    </div>
    <!-- CONTACT FORM SCRIPT -->
    <script>
      var form = document.getElementById("contact-form");

      async function handleSubmit(event) {
        event.preventDefault();
        var status = form.getElementsByClassName("form-status")[0];
        var data = new FormData(event.target);
        fetch(event.target.action, {
          method: form.method,
          body: data,
          headers: {
            'Accept': 'application/json'
          }
        }).then(response => {
          if (response.ok) {
            status.classList.remove("error");
            status.classList.add("success");
            form.reset()
          } else {
            response.json().then(data => {
              if (Object.hasOwn(data, 'errors')) {
                status.classList.remove("success")
                status.classList.add("error")
              } else {
              }
            })
          }
        }).catch(error => {
          status.classList.remove("success")
          status.classList.add("error")
        });
      }
      form.addEventListener("submit", handleSubmit)
    </script>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="text">
        Tous droits réservés — Crédits photo : Marjorie Aucaigne
      </div>
    </div>
  </div>
</footer>