<header id="header">
  <div class="header-content-background">
    <div class="container">
      <div class="header-content">
        <div class="header-left">
          <span class="header-title">
            Marjorie Aucaigne
          </span>
          <div class="h-divider"></div>
          <div class="header-subtitle">
            <span>Artiste</span>
            {{ $image := resources.Get "img/nature.png" }}
            <img id="m-brand" src="{{ $image.Permalink }}" alt="{{ .Site.Title }}" />
            <span>Peinture à l'huile</span>
          </div>
        </div>
        <nav class="header-right">
          <ul class="nav-list unstyled">
            <li><a href="#main">Acceuil</a></li>
            <li><a href="#contact-form">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div id="sub-header">
    <div class="container">
      <div class="text">
        Une collection de peintures à l'huile inspirée par les reliefs, les matières
        et les couleurs intenses de la nature.
      </div>
    </div>
  </div>

  <!-- Hide sub-header on scroll -->
  <script>
    const subHeader = document.getElementById("sub-header")

    function toggleSubHeader() {
      if (window.scrollY > 50) {
        subHeader.classList.add("hidden")
      } else {
        subHeader.classList.remove("hidden")
      }
    }
    document.addEventListener("scroll", toggleSubHeader)
  </script>
</header>