<header>
  <div class="header-content">
    <div class="header-left">
      <span class="header-title">
        Marjorie Aucaigne
      </span>
      <hr>
      <span class="header-subtitle">Artiste | Peinture à l'huile</span>
    </div>
    <nav class="header-right">
      <ul class="nav-list">
        <li>Collection</li>
        <li>Accueil</li>
      </ul>
    </nav>
  </div>
  <div class="sub-header">
    <div class="text">
      Une collection de peintures à l'huile inspirée par les reliefs, les matières
      et les couleurs intenses d'une nature vivante et indomptable.
    </div>
  </div>
</header>